<form method="post" action="/create-password">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="e.g. Ebay">
      <small id="nameHelp" class="form-text text-muted">The name of the service.</small>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="e.g. lukeskywalker">
      <small id="usernameHelp" class="form-text text-muted">The username you used to register to the service.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" placeholder="Demo - do not enter a real password">
      <small id="passwordHelp" class="form-text text-muted">The password you used to register to the service.</small>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" id="description" aria-describedby="descriptionHelp" placeholder="Credentials for Ebay">
      <small id="descriptionHelp" class="form-text text-muted">A brief description of what these credentials are for.</small>
    </div>
    <div class="form-group">
      <label for="description">URL</label>
      <input type="url" class="form-control" name="url" id="url" aria-describedby="urlHelp" placeholder="https://ebay.com/">
      <small id="urlHelp" class="form-text text-muted">Link to the website.</small>
    </div>
    <button type="submit" class="btn btn-primary">Add to Vault</button>
</form>
