<% if (loggedIn) { %>

<form method="post" action="/search">
    <div class="row">
      <div class="col">
        <input type="text" autofocus="autofocus" class="form-control" name="searchQuery" id="searchQuery" aria-describedby="searchHelp" placeholder="e.g. Heroku">
        <small id="searchHelp" class="form-text text-muted">Search for a password.</small>
      </div>
      <div class="col col-md-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
</form>

<% } else { %>

<div class="jumbotron">
    <h1 class="display-4">MagnifyingPass</h1>
</div>

<% } %>
