<ul class="list-group">
    <% for (result of searchResults) { %>
        <a href="/password/<%= result._id %>" class="list-group-item list-group-item-action"><%= result.name %></a>
    <% } %>
</ul>
