<% for (result of searchResults) { %>

    <div class="card">
        <div class="card-body">
            Name: <%= result.name %>, Username: <%= result.username %>, Password: <%= result.password %>
        </div>
    </div>
    
    <% } %>
    