<form method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="passphrase">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="updates">
        <label class="form-check-label" for="updates">I would like to receive development updates</label>
    </div>
    <button type="submit" class="btn btn-primary" style="margin: 20px 0px;">Register</button>
</form>
