<ul class="list-group">
    <% for (password of passwords) { %>
        <a href="/password/<%= password._id %>" class="list-group-item list-group-item-action"><%= password.name %></a>
    <% } %>
</ul>
