<% for (password of passwords) { %>

<div class="card">
    <div class="card-body">
        Name: <%= password.name %>, Username: <%= password.username %>, Password: <%= password.password %>
    </div>
</div>

<% } %>
